<nav class="grey darken-3">
    <div class="nav-wrapper container">
        <a href="#" class="brand-logo center">StoryApp</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large">
            <i class="fas fa-bars"></i>
        </a>
        <ul class="sidenav" id="mobile-demo">
            <li><h5 style="color: black;margin:1rem;">StoryApp</h5></li>
            <li><a href="/stories"><bold>Public Stories</bold></a></li>
            <li><a href="/dashboard"><bold>Dashboard</bold></a></li>
            <li ><a class="logout" href="/auth/logout"><bold>Logout</bold></a></li>
        </ul>
    </div>
</nav>
