<h3><i class="fas fa-book-reader"></i>StoryApp</h3>
<div class="section">
    <p class = "lead">Create public and private Stories From your life and expreiences.</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i>Login In with Google
    </a>
</div>